<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rectification-heading" jhiTranslate="tikuApp.rectification.home.createOrEditLabel">Create or edit a Rectification</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rectification.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rectification.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tikuApp.rectification.measure" for="field_measure">Measure</label>
                    <input type="text" class="form-control" name="measure" id="field_measure"
                        [(ngModel)]="rectification.measure" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tikuApp.rectification.result" for="field_result">Result</label>
                    <input type="text" class="form-control" name="result" id="field_result"
                        [(ngModel)]="rectification.result" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tikuApp.rectification.rectificationTime" for="field_rectificationTime">Rectification Time</label>
                    <div class="d-flex">
                        <input id="field_rectificationTime" type="datetime-local" class="form-control" name="rectificationTime" [(ngModel)]="rectificationTime"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.rectificationTime?.dirty && editForm.controls.rectificationTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rectificationTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.rectificationTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tikuApp.rectification.remainsQuestionId" for="field_remainsQuestionId">Remains Question Id</label>
                    <input type="number" class="form-control" name="remainsQuestionId" id="field_remainsQuestionId"
                        [(ngModel)]="rectification.remainsQuestionId" required/>
                    <div [hidden]="!(editForm.controls.remainsQuestionId?.dirty && editForm.controls.remainsQuestionId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.remainsQuestionId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.remainsQuestionId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
