
<div *ngIf="menu">
    <h2><span jhiTranslate="tikuApp.menu.detail.title">Menu</span> {{menu.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tikuApp.menu.name">Name</span></dt>
        <dd>
            <span>{{menu.name}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.menu.url">Url</span></dt>
        <dd>
            <span>{{menu.url}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.menu.label">Label</span></dt>
        <dd>
            <span>{{menu.label}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.menu.parentId">Parent Id</span></dt>
        <dd>
            <span>{{menu.parentId}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.menu.delFlag">Del Flag</span></dt>
        <dd>
            <span jhiTranslate="{{'tikuApp.DeleteFlag.' + menu.delFlag}}">{{menu.delFlag}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.menu.menuStatus">Menu Status</span></dt>
        <dd>
            <span>{{menu.menuStatus}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
