
<div *ngIf="subject">
    <h2><span jhiTranslate="tikuApp.subject.detail.title">Subject</span> {{subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tikuApp.subject.name">Name</span></dt>
        <dd>
            <span>{{subject.name}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.subject.title">Title</span></dt>
        <dd>
            <span>{{subject.title}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.subject.description">Description</span></dt>
        <dd>
            <span>{{subject.description}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.subject.status">Status</span></dt>
        <dd>
            <span>{{subject.status}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.subject.type">Type</span></dt>
        <dd>
            <span>{{subject.type}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.subject.right">Right</span></dt>
        <dd>
            <span>{{subject.right}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.subject.delFlag">Del Flag</span></dt>
        <dd>
            <span>{{subject.delFlag}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
