
<div *ngIf="remainsQuestion">
    <h2><span jhiTranslate="tikuApp.remainsQuestion.detail.title">Remains Question</span> {{remainsQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tikuApp.remainsQuestion.questionType">Question Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tikuApp.QuestionType.' + remainsQuestion.questionType}}">{{remainsQuestion.questionType}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.remainsQuestion.createdTime">Created Time</span></dt>
        <dd>
            <span>{{remainsQuestion.createdTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.remainsQuestion.description">Description</span></dt>
        <dd>
            <span>{{remainsQuestion.description}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.remainsQuestion.reportItems">Report Items</span></dt>
        <dd>
            <div *ngIf="remainsQuestion.reportItems">
                <a [routerLink]="['/report-items', remainsQuestion.reportItems?.id]">{{remainsQuestion.reportItems?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tikuApp.remainsQuestion.rectification">Rectification</span></dt>
        <dd>
            <div *ngIf="remainsQuestion.rectification">
                <a [routerLink]="['/rectification', remainsQuestion.rectification?.id]">{{remainsQuestion.rectification?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'remains-question/'+ remainsQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
