<div>
    <h2>
        <span jhiTranslate="tikuApp.statistics.home.title">Statistics</span>
        <button class="btn btn-primary float-right jh-create-entity create-statistics" [routerLink]="['/', { outlets: { popup: ['statistics-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tikuApp.statistics.home.createLabel">
            Create new Statistics
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="statistics">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="tikuApp.statistics.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="statisticsDate"><span jhiTranslate="tikuApp.statistics.statisticsDate">Statistics Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="tikuApp.statistics.updateDate">Update Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="count"><span jhiTranslate="tikuApp.statistics.count">Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tikuApp.statistics.name">Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let statistics of statistics ;trackBy: trackId">
                <td><a [routerLink]="['../statistics', statistics.id ]">{{statistics.id}}</a></td>
                <td>{{statistics.type}}</td>
                <td>{{statistics.statisticsDate | date:'mediumDate'}}</td>
                <td>{{statistics.updateDate | date:'mediumDate'}}</td>
                <td>{{statistics.count}}</td>
                <td>{{statistics.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../statistics', statistics.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'statistics/'+ statistics.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'statistics/'+ statistics.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="statistics && statistics.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
