<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStatisticsLabel" jhiTranslate="tikuApp.statistics.home.createOrEditLabel">Create or edit a Statistics</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!statistics.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="statistics.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.statistics.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="statistics.type" required/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.statistics.statisticsDate" for="field_statisticsDate">Statistics Date</label>
            <div class="input-group">
                <input id="field_statisticsDate" type="text" class="form-control" name="statisticsDate" ngbDatepicker  #statisticsDateDp="ngbDatepicker" [(ngModel)]="statistics.statisticsDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="statisticsDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.statisticsDate?.dirty && editForm.controls.statisticsDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.statisticsDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.statistics.updateDate" for="field_updateDate">Update Date</label>
            <div class="input-group">
                <input id="field_updateDate" type="text" class="form-control" name="updateDate" ngbDatepicker  #updateDateDp="ngbDatepicker" [(ngModel)]="statistics.updateDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="updateDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.updateDate?.dirty && editForm.controls.updateDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updateDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.statistics.count" for="field_count">Count</label>
            <input type="number" class="form-control" name="count" id="field_count"
                [(ngModel)]="statistics.count" required/>
            <div [hidden]="!(editForm.controls.count?.dirty && editForm.controls.count?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.count?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.count?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.statistics.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="statistics.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
