<div>
    <h2>
        <span jhiTranslate="tikuApp.department.home.title">Departments</span>
        <button class="btn btn-primary float-right jh-create-entity create-department" [routerLink]="['/', { outlets: { popup: ['department-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tikuApp.department.home.createLabel">
            Create new Department
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="departments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tikuApp.department.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="tikuApp.department.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentId"><span jhiTranslate="tikuApp.department.parentId">Parent Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="departmentStatus"><span jhiTranslate="tikuApp.department.departmentStatus">Department Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="departmentType"><span jhiTranslate="tikuApp.department.departmentType">Department Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="delFlag"><span jhiTranslate="tikuApp.department.delFlag">Del Flag</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentCodes"><span jhiTranslate="tikuApp.department.parentCodes">Parent Codes</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let department of departments ;trackBy: trackId">
                <td><a [routerLink]="['../department', department.id ]">{{department.id}}</a></td>
                <td>{{department.name}}</td>
                <td>{{department.code}}</td>
                <td>{{department.parentId}}</td>
                <td>{{department.departmentStatus}}</td>
                <td>{{department.departmentType}}</td>
                <td>{{department.delFlag}}</td>
                <td>{{department.parentCodes}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../department', department.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'department/'+ department.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'department/'+ department.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="departments && departments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
