<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDepartmentLabel" jhiTranslate="tikuApp.department.home.createOrEditLabel">Create or edit a Department</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!department.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="department.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="department.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="department.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.parentId" for="field_parentId">Parent Id</label>
            <input type="number" class="form-control" name="parentId" id="field_parentId"
                [(ngModel)]="department.parentId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.departmentStatus" for="field_departmentStatus">Department Status</label>
            <input type="text" class="form-control" name="departmentStatus" id="field_departmentStatus"
                [(ngModel)]="department.departmentStatus" required/>
            <div [hidden]="!(editForm.controls.departmentStatus?.dirty && editForm.controls.departmentStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.departmentStatus?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.departmentType" for="field_departmentType">Department Type</label>
            <input type="text" class="form-control" name="departmentType" id="field_departmentType"
                [(ngModel)]="department.departmentType" required/>
            <div [hidden]="!(editForm.controls.departmentType?.dirty && editForm.controls.departmentType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.departmentType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.delFlag" for="field_delFlag">Del Flag</label>
            <input type="text" class="form-control" name="delFlag" id="field_delFlag"
                [(ngModel)]="department.delFlag" required/>
            <div [hidden]="!(editForm.controls.delFlag?.dirty && editForm.controls.delFlag?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.delFlag?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.department.parentCodes" for="field_parentCodes">Parent Codes</label>
            <input type="text" class="form-control" name="parentCodes" id="field_parentCodes"
                [(ngModel)]="department.parentCodes" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
