<div>
    <h2>
        <span jhiTranslate="tikuApp.logBackup.home.title">Log Backups</span>
        <button class="btn btn-primary float-right jh-create-entity create-log-backup" [routerLink]="['/', { outlets: { popup: ['log-backup-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tikuApp.logBackup.home.createLabel">
            Create new Log Backup
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="logBackups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="tikuApp.logBackup.createdTime">Created Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="tikuApp.logBackup.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="tikuApp.logBackup.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="size"><span jhiTranslate="tikuApp.logBackup.size">Size</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="level"><span jhiTranslate="tikuApp.logBackup.level">Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="authority"><span jhiTranslate="tikuApp.logBackup.authority">Authority</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logType"><span jhiTranslate="tikuApp.logBackup.logType">Log Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let logBackup of logBackups ;trackBy: trackId">
                <td><a [routerLink]="['../log-backup', logBackup.id ]">{{logBackup.id}}</a></td>
                <td>{{logBackup.createdTime | date:'medium'}}</td>
                <td>{{logBackup.createdBy}}</td>
                <td>{{logBackup.description}}</td>
                <td>{{logBackup.size}}</td>
                <td jhiTranslate="{{'tikuApp.Level.' + logBackup.level}}">{{logBackup.level}}</td>
                <td>{{logBackup.authority}}</td>
                <td jhiTranslate="{{'tikuApp.LogType.' + logBackup.logType}}">{{logBackup.logType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../log-backup', logBackup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'log-backup/'+ logBackup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'log-backup/'+ logBackup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="logBackups && logBackups.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
