
<div *ngIf="checkItemAnswer">
    <h2><span jhiTranslate="tikuApp.checkItemAnswer.detail.title">Check Item Answer</span> {{checkItemAnswer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tikuApp.checkItemAnswer.itemId">Item Id</span></dt>
        <dd>
            <span>{{checkItemAnswer.itemId}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.checkItemAnswer.result">Result</span></dt>
        <dd>
            <span>{{checkItemAnswer.result}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.checkItemAnswer.createdBy">Created By</span></dt>
        <dd>
            <span>{{checkItemAnswer.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.checkItemAnswer.deptId">Dept Id</span></dt>
        <dd>
            <span>{{checkItemAnswer.deptId}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.checkItemAnswer.createdDate">Created Date</span></dt>
        <dd>
            <span>{{checkItemAnswer.createdDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'check-item-answer/'+ checkItemAnswer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
