<div>
    <h2>
        <span jhiTranslate="tikuApp.checkItemAnswer.home.title">Check Item Answers</span>
        <button class="btn btn-primary float-right jh-create-entity create-check-item-answer" [routerLink]="['/', { outlets: { popup: ['check-item-answer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tikuApp.checkItemAnswer.home.createLabel">
            Create new Check Item Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="checkItemAnswers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tikuApp.checkItemAnswer.itemId">Item Id</span></th>
            <th><span jhiTranslate="tikuApp.checkItemAnswer.yiliuProblems">Yiliu Problems</span></th>
            <th><span jhiTranslate="tikuApp.checkItemAnswer.zhenggaiInfo">Zhenggai Info</span></th>
            <th><span jhiTranslate="tikuApp.checkItemAnswer.result">Result</span></th>
            <th><span jhiTranslate="tikuApp.checkItemAnswer.createdBy">Created By</span></th>
            <th><span jhiTranslate="tikuApp.checkItemAnswer.createdDate">Created Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let checkItemAnswer of checkItemAnswers ;trackBy: trackId">
                <td><a [routerLink]="['../check-item-answer', checkItemAnswer.id ]">{{checkItemAnswer.id}}</a></td>
                <td>{{checkItemAnswer.itemId}}</td>
                <td>{{checkItemAnswer.yiliuProblems}}</td>
                <td>{{checkItemAnswer.zhenggaiInfo}}</td>
                <td>{{checkItemAnswer.result}}</td>
                <td>{{checkItemAnswer.createdBy}}</td>
                <td>{{checkItemAnswer.createdDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../check-item-answer', checkItemAnswer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'check-item-answer/'+ checkItemAnswer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'check-item-answer/'+ checkItemAnswer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
