<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReleaseLabel" jhiTranslate="tikuApp.release.home.createOrEditLabel">Create or edit a Release</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!release.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="release.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.release.checkItemIds" for="field_checkItemIds">Check Item Ids</label>
            <input type="text" class="form-control" name="checkItemIds" id="field_checkItemIds"
                [(ngModel)]="release.checkItemIds" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.release.releaseUser" for="field_releaseUser">Release User</label>
            <input type="text" class="form-control" name="releaseUser" id="field_releaseUser"
                [(ngModel)]="release.releaseUser" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.release.releaseStatus" for="field_releaseStatus">Release Status</label>
            <select class="form-control" name="releaseStatus" [(ngModel)]="release.releaseStatus" id="field_releaseStatus" >
                <option value="TEST">{{'tikuApp.ReleaseStatus.TEST' | translate}}</option>
                <option value="RELEASE">{{'tikuApp.ReleaseStatus.RELEASE' | translate}}</option>
                <option value="CLOSE">{{'tikuApp.ReleaseStatus.CLOSE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.release.releaseName" for="field_releaseName">Release Name</label>
            <input type="text" class="form-control" name="releaseName" id="field_releaseName"
                [(ngModel)]="release.releaseName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tikuApp.release.releaseDescription" for="field_releaseDescription">Release Description</label>
            <input type="text" class="form-control" name="releaseDescription" id="field_releaseDescription"
                [(ngModel)]="release.releaseDescription" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
