
<div *ngIf="release">
    <h2><span jhiTranslate="tikuApp.release.detail.title">Release</span> {{release.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tikuApp.release.checkItemIds">Check Item Ids</span></dt>
        <dd>
            <span>{{release.checkItemIds}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.release.releaseUser">Release User</span></dt>
        <dd>
            <span>{{release.releaseUser}}</span>
        </dd>
        <dt><span jhiTranslate="tikuApp.release.releaseStatus">Release Status</span></dt>
        <dd>
            <span jhiTranslate="{{'tikuApp.ReleaseStatus.' + release.releaseStatus}}">{{release.releaseStatus}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'release/'+ release.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
